@model ProfileWeb.Models.ApplicationUser

@{
    ViewData["Title"] = "ОПҚ ПРОФИЛІ";
}

<h1>ОПҚ ПРОФИЛІ</h1>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Түзету</a> |
    <a asp-action="EditProfile" asp-route-id="@Model.Id">Зерттеу жұмыстарын қосу</a> |
    <a asp-action="EditQu" asp-route-id="@Model.Id">Біліктілікті жетілдіру</a> |
    <a asp-action="EditWork" asp-route-id="@Model.Id">Еңбек жолы</a> |
     <a asp-action="EditAchive" asp-route-id="@Model.Id">Жетістіктер</a> |
</div>
<div class="container-2">
      <div class="left">
        @if (Model.PhotoUrl != null)
                             {
                                 <img class="portrait" src="~/images/@Model.PhotoUrl" alt="">
                             }
                             else
                             {
                                 <img class="portrait" src="~/photo/tps-img.png" alt="">
                             }
         </div>
   
   
        <div class="right">
            <p class="first">АТЫ-ЖӨНІ:</p>
                    <p class="sql">@Html.DisplayFor(model => model.Firstname_kz)  @Html.DisplayFor(model => model.Middlename_kz) @Html.DisplayFor(model => model.Lastname_kz)</p>
                    <p>ҚҰРЫЛЫМЫ (БӨЛІМІ, ФАКУЛЬТЕТІ, КАФЕДРАСЫ):</p>
                    <p class="sql">@Html.DisplayFor(model => model.Faculties.KZ_AD)
                        <br>@Html.DisplayFor(model => model.Kafedra.KZ_AD)</p>
                    <p>ҚЫЗМЕТІ (ҒЫЛЫМИ ДӘРЕЖЕСІ, АТАҒЫ):</p>
                    <p class="sql">@Html.DisplayFor(model => model.Degree.TR_AD)
                        <br>@Html.DisplayFor(model => model.Ranks.TR_AD)
                    </p>
                    <p>МЕКЕН-ЖАЙЫ:</p>
                    <p class="sql">@Html.DisplayFor(model => model.Address)</p>
                    <p>ТЕЛЕФОНЫ:</p>
                    <p class="sql">@Html.DisplayFor(model => model.PhoneNumber)</p>
                    <p>КОРПОРАТИВТІ ПОШТАСЫ:</p>
                    <p class="sql last">@Html.DisplayFor(model => model.Email)</p>
        </div>
</div>
 <div class="container-3">
                
                <p>ЗЕРТТЕУ ЖҰМЫСТАРЫ, ЖАРИЯЛАНЫМДАРЫ (ПРИОРИТЕТТІ БАҒЫТТАРЫ):</p>
                <p>
                        <button id="toggleIcon1" onclick="toggle1()">&gt;</button>
                </p>
                <p id="sql1" class="sql toggle">
                    @for(int i=0; i<Model.Researches.Count; i++)
                    {
                        @if (Model.Researches[i].KZ_Title != null && @Model.Researches[i].FileUrl != null)
                        {
                            <a  href="~/documents/@Model.Researches[i].FileUrl"  target="_blank">@Model.Researches[i].KZ_Title</a><br>
                        }
                        else
                        {
                            <a  href="#"  target="_blank">ДЕРЕКТЕР ЖОҚ</a><br>
                        }
                    }
    
                 </p>
                <p>ЖЕТІСТІКТЕРІ:</p>
                <p>
                    <button id="toggleIcon2" onclick="toggle2()">&gt;</button>
                </p>
                <p id="sql2" class="sql toggle"> 
                   @for(int i=0; i<Model.Achievements.Count; i++)
                    {
                        @if (Model.Achievements[i].KZ_Topic != null)
                        {
                            @Html.DisplayFor(model => Model.Achievements[i].KZ_Topic)<br>
                        }
                        else
                        {

                            <a  href="#"  target="_blank">ДЕРЕКТЕР ЖОҚ</a><br>
                        }
                    }
                </p>
                <p>ЕҢБЕК ЖОЛЫ:</p>
                <p>
                    <button id="toggleIcon3" onclick="toggle3()">&gt;</button>
                </p>
                <p id="sql3" class="sql toggle"> 
                    @for(int i=0; i<Model.WorkWays.Count; i++)
                    {
                        @if (Model.WorkWays[i].KZ_Work != null)
                        {
                            @Html.DisplayFor(model => Model.WorkWays[i].KZ_Work)<br>
                        }
                        else
                        {

                            <a  href="#"  target="_blank">ДЕРЕКТЕР ЖОҚ</a><br>
                        }
                    }
                </p>
                <p>БІЛІКТІЛІКТІ ЖЕТІЛДІРУІ:</p>
                <p>
                    <button id="toggleIcon4" onclick="toggle4()">&gt;</button>
                </p>
                <p id="sql4" class="sql toggle"> 
                    @for(int i=0; i<Model.Qulifications.Count; i++)
                    {
                        @if (Model.Qulifications[i].KZ_Qu != null)
                        {
                            @Html.DisplayFor(model => Model.Qulifications[i].KZ_Qu)<br>
                        }
                        else
                        {

                            <a  href="#"  target="_blank">ДЕРЕКТЕР ЖОҚ</a><br>
                        }
                    }
                </p>
            </div>
        <script>
        function toggle1() {
            var x = document.getElementById("sql1");
            if (x.style.display === "block") {
                document.getElementById("toggleIcon1").innerHTML = ">";
                x.style.display = "none";
            } else {
                x.style.display = "block";
                document.getElementById("toggleIcon1").innerHTML = "<";
            }
        }

        function toggle2() {
            var x = document.getElementById("sql2");
            if (x.style.display === "block") {
                document.getElementById("toggleIcon2").innerHTML = ">";
                x.style.display = "none";
            } else {
                x.style.display = "block";
                document.getElementById("toggleIcon2").innerHTML = "<";
            }
        }

        function toggle3() {
            var x = document.getElementById("sql3");
            if (x.style.display === "block") {
                document.getElementById("toggleIcon3").innerHTML = ">";
                x.style.display = "none";
            } else {
                x.style.display = "block";
                document.getElementById("toggleIcon3").innerHTML = "<";
            }
        }

        function toggle4() {
            var x = document.getElementById("sql4");
            if (x.style.display === "block") {
                document.getElementById("toggleIcon4").innerHTML = ">";
                x.style.display = "none";
            } else {
                x.style.display = "block";
                document.getElementById("toggleIcon4").innerHTML = "<";
            }
        }
        </script>