@model ProfileWeb.Models.ApplicationUser

@{
    ViewData["Title"] = "ЖЕТІСТІКТЕРІ";
}

<h1></h1>

<h4>ЖЕТІСТІКТЕРІ - ҚОСУ</h4>
<hr />
<div class="row">
    <div class="col-md-6 col-md-offset-2">
        <form asp-action="EditAchive" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*expp*@
        <div class="col-md-12">
            <table id="expp" class="table">
                <thead>
                    <tr>
                        <th>
                            ЖЕТІСТІКТЕРІ:
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Achievements.Count; i++)
                    {
                        <tr>
                            <td>
                                @if (@Model.Achievements[i].KZ_Topic != null)
                                {
                                   <input asp-for="@Model.Achievements[i].KZ_Topic" class="form-control" readonly/>
                                }
                                else
                                {
                                    <input asp-for="@Model.Achievements[i].KZ_Topic" class="form-control" />
                                }
                            </td>
                            <td>
                                <button id="btnadd1-@i" type="button" class="btn btn-secondary visible"
                                        onclick="AddItem2(this)">
                                    ҚОСУ
                                </button>
                            </td>
                            <td>
                                <button id="btnremove1-@i" type="button" class="btn btn-danger invisible"
                                        onclick="DeleteItem2(this)">
                                    ЖОЮ
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @*expp*@
            <input type="hidden" id="LastIndex" value="@(Model.Achievements?.Count != null ? Model.Achievements.Count-1 : 0)" />
        </div>
            <div class="form-group">
                <input type="submit" value="САҚТАУ" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
     <a asp-action="Details" asp-route-id="@Model.Id">ПРОФИЛЬГЕ ҚАЙТУ</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script type="text/javascript">
   


   
    //expp
    function DeleteItem2(btn) {
        $(btn).closest('tr').remove();
    }
    function AddItem2(btn) {

        var table = document.getElementById('expp');
        var rows = table.getElementsByTagName('tr');

        var rowOuterHtml = rows[rows.length - 1].outerHTML;

        var lastrowIdx = document.getElementById('LastIndex').value;

        var nextrowIdx = eval(lastrowIdx) + 1;

        document.getElementById('LastIndex').value = nextrowIdx;

        rowOuterHtml = rowOuterHtml.replaceAll('_' + lastrowIdx + '_', '_' + nextrowIdx + '_');
        rowOuterHtml = rowOuterHtml.replaceAll('[' + lastrowIdx + ']', '[' + nextrowIdx + ']');
        rowOuterHtml = rowOuterHtml.replaceAll('-' + lastrowIdx, '-' + nextrowIdx);


        var newRow = table.insertRow();
        newRow.innerHTML = rowOuterHtml;



        var btnAddID = btn.id;
        var btnDeleteid = btnAddID.replaceAll('btnadd1', 'btnremove1');

        var delbtn = document.getElementById(btnDeleteid);
        delbtn.classList.add("visible");
        delbtn.classList.remove("invisible");


        var addbtn = document.getElementById(btnAddID);
        addbtn.classList.remove("visible");
        addbtn.classList.add("invisible");

    }

   
</script>