@model IEnumerable<ProfileWeb.Models.ApplicationUser

@{
    ViewData["Title"] = "Оқытушы-профессор портфолиосы | Ахмет Ясауи Университеті";
}

<main class="mt-30 mr-30 ml-30">
    <div class="flex flex-between mb-30 p-30 br-5 bgc-lightGrey">
        <div>
            <a class="c-darkRed" href="">ОПҚ ТІЗІМІ</a>
            /
            <a class="c-darkGrey disabled" href="">ОҚЫТУШЫ-ПРОФЕССОР ПОРТФОЛИОСЫ</a>
        </div>
        <a class="c-darkRed" target="_blank" href="https://www.youtube.com/watch?v=-SbFWF5az1g">ВИДЕО НҰСҚАУЛЫҚ</a>
    </div>
    <div class="flex flex-between flex-y-top p-30 br-5 bgc-lightGrey">
        @foreach (var item in Model)
        {
        <div>
            <div class="d-inline-block va-top">
                @if (item.PhotoUrl != null)
                {
                <img class="w-300 mr-30 br-5 b-5 bc-darkRed" src="~/images/@item.PhotoUrl" alt="Суреті" />
                }
                else
                {
                <img class="w-300 mr-30 br-5 b-5 bc-darkRed" src="~/photo/tps-img.png" alt="Суреті" />
                }
            </div>
            <div class="d-inline-block va-top">
                <h3 class="fs-17 mb-5">ТАӘ:</h3>
                <p class="mb-15 c-darkRed">@Html.DisplayFor(modelItem => item.Lastname_kz) @Html.DisplayFor(modelItem => item.Firstname_kz) @Html.DisplayFor(modelItem => item.Middlename_kz)</p>
                <h3 class="fs-17 mb-5">ФАКУЛЬТЕТІ / КАФЕДРАСЫ:</h3>
                <p class="mb-15 c-darkRed">
                    @Html.DisplayFor(modelItem => item.Faculties.KZ_AD)<br />
                    @Html.DisplayFor(modelItem => item.Kafedra.KZ_AD)
                </p>
                <h3 class="fs-17 mb-5">ҒЫЛЫМИ ДӘРЕЖЕСІ / АТАҒЫ / ЛАУАЗЫМЫ:</h3>
                <p class="mb-15 c-darkRed">
                    @Html.DisplayFor(modelItem => item.Degree.TR_AD)<br />
                    @Html.DisplayFor(modelItem => item.Ranks.TR_AD)<br />
                </p>
                <h3 class="fs-17 mb-5">ЖҰМЫС МЕКЕН-ЖАЙЫ:</h3>
                <p class="mb-15 c-darkRed">@Html.DisplayFor(modelItem => item.Address)</p>
                <h3 class="fs-17 mb-5">ЖҰМЫС ТЕЛЕФОНЫ:</h3>
                <p class="mb-15 c-darkRed">@Html.DisplayFor(modelItem => item.PhoneNumber)</p>
                <h3 class="fs-17 mb-5">КОРПОРАТИВТІ ПОШТАСЫ:</h3>
                <p class="mb-15 c-darkRed">@Html.DisplayFor(modelItem => item.Email)</p>
            </div>
        </div>
        }
    </div>
    <div class="p-30">
        <div class="mb-15">
            <h1 class="mr-5 d-inline-block fs-17">ЗЕРТТЕУ ЖҰМЫСТАРЫ / ЖАРИЯЛАНЫМДАРЫ</h1>
            @foreach (var item in Model)
            {
            <div class="d-block mt-10 mb-10">
                @foreach (var res in item.Researches)
                {
                <h2 class="d-inline mr-5 fs-17 ff-body-regular c-darkRed">@Html.DisplayFor(modelItem => res.KZ_Title)</h2>
                <a class="py-5 px-10 c-darkGrey br-5 bgc-lightGrey fs-13 bsh-grey-hover" href="~/documents/@res.FileUrl" target="_blank" asp-append-version="true">КӨРУ</a>
                }
            </div>
            }
        </div>
        <div class="mb-15">
            <h3 class="mr-5 d-inline-block fs-17">ЖЕТІСТІКТЕРІ</h3>
            @foreach (var item in Model)
            {
            <div class="d-block mt-10 mb-10">
                @foreach (var res in item.Achievements)
                {
                <h2 class="d-inline mr-5 fs-17 ff-body-regular c-darkRed">@Html.DisplayFor(modelItem => achievement.KZ_Topic)</h2>
                }
            </div>
            }
        </div>
        <div class="mb-15">
            <h3 class="mr-5 d-inline-block fs-17">ЕҢБЕК ЖОЛЫ</h3>
            @foreach (var item in Model)
            {
            <div class="d-block mt-10 mb-10">
                @foreach (var res in item.Workways)
                {
                <h2 class="d-inline mr-5 fs-17 ff-body-regular c-darkRed">@Html.DisplayFor(modelItem => workway.KZ_Work)</h2>
                }
            </div>
            }
        </div>
        <div>
            <h3 class="mr-5 d-inline-block fs-17">БІЛІКТІЛІКТІ ЖЕТІЛДІРУІ</h3>
            @foreach (var item in Model)
            {
            <div class="d-block mt-10 mb-10">
                @foreach (var res in item.Qulifications)
                {
                <h2 class="d-inline mr-5 fs-17 ff-body-regular c-darkRed">@Html.DisplayFor(modelItem => qulification.KZ_Qu)</h2>
                }
            </div>
            }
        </div>
    </div>
</main>
