@model IEnumerable<ProfileWeb.Models.ApplicationUser>

@{
    ViewData["Title"] = "ОПҚ ПРОФИЛІ";
}

<h1>ОПҚ ПРОФИЛІ</h1>
@*<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Түзету</a> |
    <a asp-action="EditProfile" asp-route-id="@Model.Id">Зерттеу жұмыстарын қосу</a> |
    <a asp-action="EditQu" asp-route-id="@Model.Id">Біліктілікті жетілдіру</a> |
    <a asp-action="EditWork" asp-route-id="@Model.Id">Еңбек жолы</a> |
     <a asp-action="EditAchive" asp-route-id="@Model.Id">Жетістіктер</a> |
</div>*@
@foreach (var item in Model)
{
    <div class="container-2">
      <div class="left">
        @if (item.PhotoUrl != null)
                             {
                                 <img class="portrait" src="~/images/@item.PhotoUrl" alt="">
                             }
                             else
                             {
                                 <img class="portrait" src="~/photo/tps-img.png" alt="">
                             }
         </div>
   
   
        <div class="right">
            <p class="first">АТЫ-ЖӨНІ:</p>
                    <p class="sql">@Html.DisplayFor(modelItem => item.Firstname_kz)  @Html.DisplayFor(modelItem => item.Middlename_kz) @Html.DisplayFor(modelItem => item.Lastname_kz)</p>
                    <p>ҚҰРЫЛЫМЫ (БӨЛІМІ, ФАКУЛЬТЕТІ, КАФЕДРАСЫ):</p>
                    <p class="sql">@Html.DisplayFor(modelItem => item.Faculties.KZ_AD)
                        <br>@Html.DisplayFor(modelItem => item.Kafedra.KZ_AD)</p>
                    <p>ҚЫЗМЕТІ (ҒЫЛЫМИ ДӘРЕЖЕСІ, АТАҒЫ):</p>
                    <p class="sql">@Html.DisplayFor(modelItem => item.Degree.TR_AD)
                        <br>@Html.DisplayFor(modelItem => item.Ranks.TR_AD)
                    </p>
                    <p>МЕКЕН-ЖАЙЫ:</p>
                    <p class="sql">@Html.DisplayFor(modelItem => item.Address)</p>
                    <p>ТЕЛЕФОНЫ:</p>
                    <p class="sql">@Html.DisplayFor(modelItem => item.PhoneNumber)</p>
                    <p>КОРПОРАТИВТІ ПОШТАСЫ:</p>
                    <p class="sql last">@Html.DisplayFor(modelItem => item.Email)</p>
        </div>
        
</div>
}

          <div class="container-3">
           @foreach (var item in Model){
                <p>ЗЕРТТЕУ ЖҰМЫСТАРЫ, ЖАРИЯЛАНЫМДАРЫ (ПРИОРИТЕТТІ БАҒЫТТАРЫ):</p>
                 }
                <p>
                        <button id="toggleIcon1" onclick="toggle1()">&gt;</button>
                </p>
                <p id="sql1" class="sql toggle">
                    @foreach (var item in Model)
                    {
                         @foreach (var res in item.Researches)
                            {
                                @if (res.KZ_Title != null)
                                {

                                    @Html.DisplayFor(modelItem => res.KZ_Title)   <a  href="~/documents/@res.FileUrl"  target="_blank" asp-append-version="true">ТОЛЫҒЫРАҚ</a><br>
                                }else{
                                     <a href="#">Деректер жоқ</a><br>
                                }
                            }
                    }  
                </p>
                 @foreach (var item in Model){
                <p>ЖЕТІСТІКТЕРІ:</p>
                 }
                 <p>
                    <button id="toggleIcon2" onclick="toggle2()">&gt;</button>
                </p>
                <p id="sql2" class="sql toggle">@foreach (var item in Model){
                    @foreach (var achievement in item.Achievements)
                            {
                                @if (achievement.KZ_Topic != null)
                                {

                                    @Html.DisplayFor(modelItem => achievement.KZ_Topic)<br>
                                }else{
                                      <a href="#">Деректер жоқ</a><br>
                                }
                            }
                    }   
                </p> 
                
              
                @foreach (var item in Model){
                <p>ЕҢБЕК ЖОЛЫ:</p>
                 }
                <p>
                    <button id="toggleIcon3" onclick="toggle3()">&gt;</button>
                </p>
                <p id="sql3" class="sql toggle">@foreach (var item in Model){
                    @foreach (var workway in item.Workways)
                            {
                                @if (workway.KZ_Work != null)
                                {
                                    @Html.DisplayFor(modelItem => workway.KZ_Work)<br>
                                }else{
                                      <a href="#">Деректер жоқ</a><br>
                                }
                            }
                    }   
                </p>
                @foreach (var item in Model){
                <p>БІЛІКТІЛІКТІ ЖЕТІЛДІРУІ:</p>
                }
                <p>
                    <button id="toggleIcon4" onclick="toggle4()">&gt;</button>
                </p>
                <p id="sql4" class="sql toggle"> @foreach (var item in Model){
                    @foreach (var qulification in item.Qulifications)
                            {
                                @if (qulification.KZ_Qu != null)
                                {

                                    @Html.DisplayFor(modelItem => qulification.KZ_Qu)<br>
                                }else{
                                      <a href="#">Деректер жоқ</a><br>
                                }
                            }
                    }   
                </p>
          </div>
        <script>
        function toggle1() {
            var x = document.getElementById("sql1");
            if (x.style.display === "block") {
                document.getElementById("toggleIcon1").innerHTML = ">";
                x.style.display = "none";
            } else {
                x.style.display = "block";
                document.getElementById("toggleIcon1").innerHTML = "<";
            }
        }

        function toggle2() {
            var x = document.getElementById("sql2");
            if (x.style.display === "block") {
                document.getElementById("toggleIcon2").innerHTML = ">";
                x.style.display = "none";
            } else {
                x.style.display = "block";
                document.getElementById("toggleIcon2").innerHTML = "<";
            }
        }

        function toggle3() {
            var x = document.getElementById("sql3");
            if (x.style.display === "block") {
                document.getElementById("toggleIcon3").innerHTML = ">";
                x.style.display = "none";
            } else {
                x.style.display = "block";
                document.getElementById("toggleIcon3").innerHTML = "<";
            }
        }

        function toggle4() {
            var x = document.getElementById("sql4");
            if (x.style.display === "block") {
                document.getElementById("toggleIcon4").innerHTML = ">";
                x.style.display = "none";
            } else {
                x.style.display = "block";
                document.getElementById("toggleIcon4").innerHTML = "<";
            }
        }
        </script>